.body.dark,
html .dark {
  background: var(--white-color);
}

.dark :where(.dark-color) .section-title,
.dark :where(.dark-color) p,
.dark :where(.dark-color) h1,
.dark :where(.dark-color) h2,
.dark :where(.dark-color) h3,
.dark :where(.dark-color) a {
  color: var(--heading-dark-color);
}

.dark  :where(.dark-color) .btn-primary {
  color: var(--white-color);
}
.dark  :where(.dark-color) .btn-primary-outline-lg {
  color: var(--heading--dark-color);
}

.dark .burger-line {
  background-color: var(--heading--dark-color);
}

.dark .menu {
  background-color: #f9f9f9;
}

.dark .support-items:not(:last-child) {
  border-bottom: 1px solid #bdbdbd;
}
.dark header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #dfd7d7;
}
.dark  .founder-sec {
  background-color: transparent;
}
.dark .credentials-forms .form-control {
  background: #7f7daf;
}
@media (min-width: 1200px) {
  .dark .line {
      background: #000;
      width: 1px;
      display: block;
      height: 100%;
      margin: auto;
      opacity: .2;
  }
}
/* btn */
.btn {
  box-shadow: none;
}

.dark .plan {
  background: #262542;
}

.dark .effective-pricing {
  background: #f8f9fa;
}

.dark .recent-widthdrawals {
  background: #fff;

}

.dark tbody>tr:nth-of-type(odd) {
  color: var(--primary-color);
  background-image: none;
  background-color: #f9f9f9;
}

.dark tbody>tr:nth-of-type(even) {
  color: var(--primary-color);
}

.dark .plan.plan--free {
  background: linear-gradient(#205175, #0a0526) padding-box, linear-gradient(0turn, #033442, #00c3ffa2, #00c5ff) border-box;
}

.dark .calculator-footer {
  background: var(--primary--color, rgb(33 35 37 / 15%));

}

.dark .calculator-content .btn-primary-outline,
.dark .calculator-content .btn-primary-outline-lg {
  color: var(--primary--color);
}

.dark .calculator-head .input-group {
  background: #fff;
}